// ======================================= Variables

//Colors

$MainColor: #FF0000
//000
$SecondaryColor: #383838
$ThirdColor: #000
$White: #FFF
$WhiteHover : #FBFBFB

//Transitions
$Fast: all .1s ease
$Medium: all .25s ease
$Slow: all .5s ease


//Shadows

$Shadow: 0px 3px 6px rgba(0,0,0,0.2)
$BigShadow: 0px 3px 9px 3px rgba(0,0,0,0.3)

//Mobile optimization
$Mobile: "only screen and (max-width : 890px)"

// ============ Mobile
$MobileS: "only screen and (max-width : 334px)"
$MobileM: "only screen and (max-width : 376px)"
$MobileXM: "only screen and (max-width : 395px)"
$MobileL: "only screen and (max-width : 426px)"
$MobileXL: "only screen and (max-width : 500px)"
$MobileXXL: "only screen and (max-width : 575px)"


// ============ Tablet
$TabletS: "only screen and (max-width : 650px)"
$TabletM: "only screen and (max-width : 700px)"
$TabletL: "only screen and (max-width : 800px)"

// ============ Laptop
$Laptop: "only screen and (max-width : 1023px)"

// ============ Desktop
$Desktop: "only screen and (max-width : 1222px)"


// ============================================= CSS
html
  transition: all 0s ease
  scroll-behavior: smooth
  -moz-scroll-behavior: smooth
  -webkit-scroll-behaviour: smooth
  -webkit-font-smoothing: antialiased
  -webkit-locale: "nb" !important
  -webkit-tap-highlight-color: rgba(0,0,0,0)


body
  transition: all 0s ease
  background-color: $White
  font-family: 'Calibri', sans-serif
  min-width: 300px !important
  line-height: 1.25
  width: 100% !important
  overflow-y: auto
  overflow-x: hidden !important
  font-size: 20px

  @media #{$Laptop}
    font-size: 18px

  @media #{$MobileXXL}
    font-size: 16px


*
  box-sizing: border-box
  margin: 0
  padding: 0
  /*border: 1px solid blue*/
  border-collapse: collapse

  &:focus
    //outline: none

a
  text-decoration: none
  color: black


::-moz-selection
  background: $SecondaryColor
  opacity: 0.7
  color: $White


::selection
  background: $SecondaryColor
  color: $White
  opacity: 0.7


::-webkit-scrollbar
  width: 5px
  margin: 2px 2px 2px -7px
  right: 0
  border-radius: 2.5px


::-webkit-scrollbar-thumb
  transition: all 0.3s ease-in-out
  background: darkgrey
  border-radius: 2.5px

  &:hover
    transition: all 0.3s ease-in-out
    background: black


.Material
  font-family: 'Material Icons', sans-serif
  font-size: 1.5em
  vertical-align: top
  font-weight: 100


nav
  padding: 4vmax 4vmax
  width: 100%
  height: calc(8vmax + (1.5em * 1.25))
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-content: stretch
  text-transform: uppercase
  margin: 0 0 5vh

  .Logo
    a
      img
        width: 200px
        margin: -4px 0 0

  .Material
    text-transform: lowercase !important
    font-size: 1.6em

  .RightNav
    align-self: flex-end
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-end

  a
    transition: $Fast
    color: $ThirdColor
    margin: 0 1vw
    font-size: 1.5em
    font-weight: bold
    border-bottom: 0px solid $SecondaryColor
    position: relative

    &:hover
      transition: $Fast
      border-bottom: 3px solid $ThirdColor
      color: $ThirdColor
      padding-bottom: 2px

  .Nav
    display: inline-block

    span
      pointer-events: none
      background-color: $MainColor
      height: 1.8em
      width: 1.8em
      border-radius: .9em
      color: $WhiteHover
      position: relative
      margin: 1em 0 0 calc(-1vw - 1.8em)
      font-size: .5em
      display: inline-block
      text-align: center
      padding: .29em

    @media #{$Mobile}
      display: none

  .MobileNav
    display: none
    align-self: flex-end

    a
      font-weight: 100
      font-size: 3em
      line-height: .5
      vertical-align: text-bottom


    @media #{$Mobile}
      display: inline-block
      //padding: 0 2.3vw

  .NavPart
    display: inline-block

  @media #{$MobileXXL}
    padding: 6vmax 3vmax
    height: calc(12vmax + (1.6em * 1.25))

  @media #{$MobileXL}
    padding: 6vmax 2vmax

  @media #{$MobileM}
    padding: 6vmax 1vmax


main
  padding: 0 4vw

  div.Showcase.New::before
    display: none

    @media #{$TabletS}
      display: block
      font-size: 2em
      left: 6vmax
      transform: translate(0%, 50%)

    @media #{$MobileXL}
      font-size: 1.3em

  .Showcase
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-around
    align-content: center
    width: 100%
    height: calc(100vh - (8vmax + (1.5em * 1.25) + 5vh))

    @media #{$Mobile}
      flex-wrap: wrap
      height: auto

    img
      cursor: pointer
      //Image size: 862 x 1248
      //width: 40%
      bottom: 0
      height: 100%

      .New::before
        display: none

      @media #{$Mobile}
        width: 60%
        //height: calc((862px / 1248px) / 100 * 60)
        height: auto
        margin: -139px -49% 0 0
        order: 2
        bottom: auto
        top: 0
        align-self: flex-end

      @media #{$TabletS}
        margin: auto auto
        order: 1

      @media #{$MobileXXL}
        width: 90%
        margin-left: 15%

      @media #{$MobileXM}
        width: 100%

    .Info
      margin-top: calc((100vh - (8vmax + (1.5em * 1.25) + 5vh)) / 2)
      transform: translate(0, -50%)
      //flex-grow: 1
      width: 45%
      //align-self: center
      //align-self: flex-end
      text-align: left

      h1
        font-size: 3.75em
        color: black
        text-transform: capitalize

        @media #{$TabletS}
          font-size: 3em
          text-align: center
          margin: auto

        @media #{$MobileXXL}
          font-size: 2.75em

      @media #{$Mobile}
        width: 90%
        order: 1
        margin-top: 0
        transform: none

      @media #{$TabletS}
        order: 2

        .New::before
          display: none

      @media #{$MobileXXL}
        flex-grow: 0
        width: 70%

      @media #{$MobileL}
        flex-grow: 1



.shopBtn
  transition: $Medium
  display: inline-block
  color: black
  background-color: $White
  border: 5px solid black
  font-size: 1.25em
  box-sizing: content-box
  padding: 1em 2em
  text-transform: uppercase
  margin: 2vh 0
  font-weight: bold
  text-align: center
  //max-width: 400px

  &:hover, &:focus
    transition: $Medium
    color: $White
    background-color: black

  &:active
    transition: $Medium
    transform: scale(.97)

  @media #{$TabletS}
    display: block
    font-size: 1.5em
    padding: 1em 0

//img.New::before
  transform: translate(0%, 0%)

.New
  font-weight: bold

  &::before
    content: "Ny"
    display: block
    position: absolute
    font-weight: normal
    font-size: 20px
    background-color: black
    color: $White
    padding: .25em 1em
    transform: translate(0%, -70%)
    text-transform: uppercase
    line-height: 1

    @media #{$MobileXXL}
      font-size: 18px

    @media #{$MobileXM}
      font-size: 16px

//
  &::after
    content: "Ny"
    //display: inline is what it should say if you want it to show
    display: none
    position: static
    font-weight: normal
    font-size: 20px
    background-color: black
    color: $White
    padding: .25em 1em
    float: right
    transform: translate(0%, 0%)
    text-transform: uppercase
    line-height: 1

    @media #{$MobileXXL}
      font-size: 18px

    @media #{$MobileXM}
      font-size: 16px


.searchDiv
  display: inline
  position: relative

  .search
    display: none
    position: relative

    #searchField
      transition: $Slow
      padding: 3px .5em 0px
      vertical-align: middle
      font-size: 1.5em
      //margin-top: -2em
      border: 0px
      max-width: 5vw
      animation: 0.4s ease expand forwards
      position: relative
      //width: 0px
      //width: 350px
      border-bottom: 3px solid $SecondaryColor
      //border-radius: 1em 1em 0 0
      box-sizing: content-box

      &:focus, &:active
        outline: none
        transition: $Slow
        border-color: $ThirdColor

      &:hover
        transition: $Slow
        //transform: scale(1.07)
        border-color: $ThirdColor

    .results
      position: absolute
      display: flex
      flex-direction: column
      background: $White
      box-shadow: $Shadow
      color: $ThirdColor
      font-size: 1em
      //padding: .2em
      //border-radius: 0 0 1em 1em
      width: 100%
      //top: 2.5em
      left: 0%

      .result
        transition: $Fast
        margin: .1em .5em
        font-weight: lighter
        display: none
        text-transform: capitalize
        font-weight: 300

        &:hover
          transition: $Fast
          border: 0px
          font-weight: 400

  @media #{$Mobile}
    display: none


.LinkToHost
  text-align: center
  width: 100%
  font-size: 2em
  margin-top: 20vh

  #LinkToHost
    text-decoration: underline

    &:hover
      color: $SecondaryColor

#alertBox
  display: none


#Cookies
  box-shadow: $BigShadow
  z-index: 9999
  background-color: $SecondaryColor
  position: fixed
  bottom: 0
  left: 0
  width: 70%
  border-radius: 50px 50px 0 0
  padding: 10px 3vw 8px
  color: $WhiteHover
  margin: 0 50%
  transform: translate(-50%,0)
  //min-width: 500px


  a
    margin: 0
    display: inline
    transition: $Fast
    border-bottom: 0px
    padding: 0
    color: $WhiteHover
    font-size: 1em
    //pointer-events: none

    &::selection
      color: $WhiteHover !important
      background-color: rgba(0,0,0,0) !important
      opacity: 1

    &:hover
      border-bottom: 0px
      padding: 0
      color: $WhiteHover
      transition: $Fast
      text-decoration: underline

  p
    &::selection
      color: $WhiteHover !important
      background-color: rgba(0,0,0,0) !important
      opacity: 1

  span
    cursor: pointer
    position: relative
    font-size: 1.3em
    //padding: 1vw 0
    margin: 0 -1vw 1vw 0
    text-transform: lowercase
    float: right

    &::selection
      color: $WhiteHover !important
      background-color: rgba(0,0,0,0) !important
      opacity: 1

  @media #{$Mobile}
    width: 100vw
    border-radius: 5px 5px 0 0

    span
      margin: 0 5px 50px 0

@keyframes expand
  0%
    max-width: 5vw
  100%
    max-width: 15vw

.Supreme::before
  content: "Supreme"
  text-transform: capitalize
  font-style: italic
  font-weight: 700
  font-family: 'Roboto', sans-serif
  background-color: #DA2727
  display: block
  position: absolute
  font-size: 20px
  color: $White
  padding: .25em .25em
  transform: translate(0%, -70%)
  line-height: 1

  @media #{$MobileXXL}
    font-size: 18px

  @media #{$MobileXM}
    font-size: 16px



// ====================================Eduard sin del
.kategori_wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  margin-top: 7%
  background-color: inherit

  .kategori_box
    background-color: inherit
    width: auto
    height: auto
    margin: 1.3vw
    border: 3px solid #707070
    z-index: 0
    transition: $Medium


    .kategori_box_innhold
      display: none
      position: relative
      color: $Black
      font-size: 4em
      text-transform: uppercase
      font-weight: bold
      text-align: center
      z-index: 2
      top: 37%
      height: 0px
      z-index: 1
      transition: $Medium

    &:hover .kategori_box_innhold
      display: block

    .kategori_box_wrapper
      padding: 0.8em
      z-index: 1

      &:hover
        filter: blur(6px)
        background-color: rgba(255, 255, 255, 1)

      img
        width: 362px
        height: 429px









// ====================================Fredrik sin del
.produktside
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-around
  //align-items: center

  .venstreside
    display: flex
    flex-direction: column
    width: 45%
    align-content: flex-end
    //flex-grow: 1

    .StortBilde
      //margin: 3%
      width: 55%
      border: 3px solid #707070
      padding: 6vh 0vh 3vh 0vh
      align-self: flex-end

  .hoyreside
    display: flex
    flex-direction: column
    width: 45%
    align-items: flex-start
    //flex-grow: 1

    h2
      font-size: 2.75em
      color: black
      text-transform: capitalize
      font-family: inherit
