// ======================================= Variables

//Colors

$MainColor: #383838
//000
$SecondaryColor: #7D7D7D
$ThirdColor: #000
$White: #FFF
$WhiteHover : #FBFBFB

//Transitions
$Fast: all .1s ease
$Medium: all .25s ease
$Slow: all .5s ease


//Shadows

$Shadow: 0px 3px 6px rgba(0,0,0,0.2)
$BigShadow: 0px 3px 9px 3px rgba(0,0,0,0.3)

//Mobile optimization
$Mobile: "only screen and (max-width : 890px)"

// ============ Mobile
$MobileS: "only screen and (max-width : 334px)"
$MobileM: "only screen and (max-width : 376px)"
$MobileXM: "only screen and (max-width : 395px)"
$MobileL: "only screen and (max-width : 426px)"
$MobileXL: "only screen and (max-width : 500px)"
$MobileXXL: "only screen and (max-width : 575px)"


// ============ Tablet
$TabletS: "only screen and (max-width : 650px)"
$TabletM: "only screen and (max-width : 700px)"
$TabletL: "only screen and (max-width : 800px)"

// ============ Laptop
$Laptop: "only screen and (max-width : 1023px)"

// ============ Desktop
$Desktop: "only screen and (max-width : 1222px)"


// ============================================= CSS
html
  transition: all 0s ease
  scroll-behavior: smooth
  -moz-scroll-behavior: smooth
  -webkit-scroll-behaviour: smooth
  -webkit-font-smoothing: antialiased
  -webkit-locale: "nb" !important
  -webkit-tap-highlight-color: rgba(0,0,0,0)


body
  transition: all 0s ease
  background-color: $White
  font-family: 'Calibri', sans-serif
  min-width: 300px !important
  line-height: 1.25
  width: 100% !important
  overflow-y: auto
  overflow-x: hidden !important
  font-size: 20px

  @media #{$Laptop}
    font-size: 18px

  @media #{$MobileXXL}
    font-size: 16px


*
  box-sizing: border-box
  margin: 0
  padding: 0
  /*border: 1px solid blue*/
  border-collapse: collapse

  &:focus
    //outline: none

a
  text-decoration: none
  color: black


::-moz-selection
  background: $MainColor
  opacity: 0.7
  color: $White


::selection
  background: $MainColor
  color: $White
  opacity: 0.7


::-webkit-scrollbar
  width: 5px
  margin: 2px 2px 2px -7px
  right: 0
  border-radius: 2.5px


::-webkit-scrollbar-thumb
  transition: all 0.3s ease-in-out
  background: darkgrey
  border-radius: 2.5px

  &:hover
    transition: all 0.3s ease-in-out
    background: black


.Material
  font-family: 'Material Icons', sans-serif
  font-size: 1.5em
  vertical-align: top


nav
  padding: 4vmax 4vmax
  width: 100%
  height: calc(8vmax + (1.5em * 1.25))
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-content: stretch
  text-transform: uppercase
  margin: 0 0 5vh

  .Material
    text-transform: lowercase !important
    font-size: 1.6em

  .RightNav
    align-self: flex-end
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-end

  a
    transition: $Fast
    color: $MainColor
    margin: 0 1vw
    font-size: 1.5em
    font-weight: bold
    border-bottom: 0px solid $MainColor
    position: relative

    &:hover
      transition: $Fast
      border-bottom: 3px solid $ThirdColor
      color: $ThirdColor
      padding-bottom: 2px

  .MobileNav
    display: none
    align-self: flex-end

    @media #{$Mobile}
      padding: 0 2.3vw

  .Nav
    display: inline-block

    @media #{$Mobile}
      display: none

  .MobileNav
    display: none

    a
      font-size: 2em
      line-height: .98

    @media #{$Mobile}
      display: inline-block

  .NavPart
    display: inline-block


main
  padding: 0 4vw

  .Showcase
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-around
    align-content: center
    width: 100%
    height: calc(100vh - (8vmax + (1.5em * 1.25) + 5vh))

    @media #{$Mobile}
      flex-wrap: wrap
      height: auto

    img
      cursor: pointer
      //Image size: 862 x 1248
      //width: 40%
      bottom: 0
      height: 100%

      .New::before
        display: none

      @media #{$Mobile}
        width: 60%
        //height: calc((862px / 1248px) / 100 * 60)
        height: auto
        margin: -139px -49% 0 0
        order: 2
        bottom: auto
        top: 0
        align-self: flex-end

      @media #{$TabletS}
        margin: auto auto

      @media #{$MobileXXL}
        width: 90%

      @media #{$MobileXM}
        width: 100%

    .Info
      margin-top: calc((100vh - (8vmax + (1.5em * 1.25) + 5vh)) / 2)
      transform: translate(0, -50%)
      //flex-grow: 1
      width: 45%
      //align-self: center
      //align-self: flex-end
      text-align: left

      h1
        font-size: 3.75em
        color: black
        text-transform: capitalize

      @media #{$Mobile}
        width: 90%
        order: 1
        margin-top: 0
        transform: none

      @media #{$TabletS}
        flex-grow: 1
      //
        .New::before
          display: none

.shopBtn
  transition: $Medium
  display: inline-block
  color: black
  background-color: $White
  border: 5px solid black
  font-size: 1.25em
  box-sizing: content-box
  padding: 1em 2em
  text-transform: uppercase
  margin: 2vh 0
  font-weight: bold
  text-align: center
  //max-width: 400px

  &:hover
    transition: $Medium
    color: $White
    background-color: black

  &:active
    transition: $Medium
    transform: scale(.97)

  @media #{$TabletS}
    display: block
    font-size: 1.5em
    padding: 1em 0

img.New::before
  transform: translate(0%, 0%)

.New
  font-weight: bold

  &::before
    content: "Ny"
    display: block
    position: absolute
    font-weight: normal
    font-size: 20px
    background-color: black
    color: $White
    padding: .25em 1em
    transform: translate(0%, -70%)
    text-transform: uppercase
    line-height: 1

    @media #{$MobileXXL}
      font-size: 18px

    @media #{$MobileXM}
      font-size: 16px

//
  &::after
    content: "Ny"
    //display: inline is what it should say if you want it to show
    display: none
    position: static
    font-weight: normal
    font-size: 20px
    background-color: black
    color: $White
    padding: .25em 1em
    float: right
    transform: translate(0%, 0%)
    text-transform: uppercase
    line-height: 1

    @media #{$MobileXXL}
      font-size: 18px

    @media #{$MobileXM}
      font-size: 16px


.searchDiv
  display: inline
  position: relative

  .search
    display: none
    position: relative

    #searchField
      transition: $Slow
      padding: 6px .5em 2px
      vertical-align: baseline
      font-size: 1.5em
      //margin-top: -2em
      border: 0px
      max-width: 5vw
      animation: 0.5s linear expand forwards
      position: relative
      //width: 0px
      //width: 350px
      border-bottom: 3px solid $MainColor
      //border-radius: 1em 1em 0 0
      box-sizing: content-box

      &:focus, &:active
        outline: none
        transition: $Slow
        border-color: $ThirdColor

      &:hover
        transition: $Slow
        //transform: scale(1.07)
        border-color: $ThirdColor

    .results
      position: absolute
      display: flex
      flex-direction: column
      background: $White
      box-shadow: $Shadow
      color: $ThirdColor
      font-size: 1em
      //padding: .2em
      //border-radius: 0 0 1em 1em
      width: 100%
      //top: 2.5em
      left: 0%

      .result
        transition: $Fast
        margin: .1em .5em
        font-weight: lighter
        display: none
        text-transform: capitalize
        font-weight: 300

        &:hover
          transition: $Fast
          border: 0px
          font-weight: 400

  @media #{$Mobile}
    display: none


.LinkToHost
  text-align: center
  width: 100%
  font-size: 2em
  margin-top: 20vh

  #LinkToHost
    text-decoration: underline

    &:hover
      color: $MainColor


#Cookies
  box-shadow: $BigShadow
  z-index: 9999
  background-color: $MainColor
  position: fixed
  bottom: 0
  left: 0
  width: 70%
  border-radius: 50px 50px 0 0
  padding: 10px 3vw 8px
  color: $WhiteHover
  margin: 0 50%
  transform: translate(-50%,0)
  //min-width: 500px

  a
    margin: 0
    display: inline
    transition: $Fast
    border-bottom: 0px
    padding: 0
    color: $WhiteHover
    font-size: 1em
    //pointer-events: none

    &:hover
      border-bottom: 0px
      padding: 0
      color: $WhiteHover
      transition: $Fast
      text-decoration: underline

  span
    cursor: pointer
    position: relative
    font-size: 1.3em
    //padding: 1vw 0
    margin: 0 -1vw 1vw 0
    text-transform: lowercase
    float: right

  @media #{$Mobile}
    width: 100vw
    border-radius: 5px 5px 0 0

    span
      margin: 0 5px 50px 0

@keyframes expand
  0%
    max-width: 5vw
  100%
    max-width: 15vw


// ====================================Eduard sin del




// ====================================Fredrik sin del
