html {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behaviour: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-locale: "nb" !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  background-color: #FFF;
  font-family: "Calibri", sans-serif;
  min-width: 300px !important;
  line-height: 1.25;
  width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden !important;
  font-size: 20px;
}
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 575px) {
  body {
    font-size: 16px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid blue */
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: #000;
}

::-moz-selection {
  background: #383838;
  opacity: 0.7;
  color: #FFF;
}

::selection {
  background: #383838;
  color: #FFF;
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 5px;
  right: 0;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #FF0000;
  border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #999999;
}

.Material {
  font-family: "Material Icons", sans-serif;
  font-size: 1.5em;
  vertical-align: top;
  font-weight: 100;
}

nav {
  margin: 0 0 5vh 0;
}
nav a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #000;
  margin: 0 1vw;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 0px solid #383838;
  position: relative;
}
nav .searchDiv {
  display: inline;
  position: relative;
}
nav .searchDiv .search {
  display: none;
  position: relative;
}
nav .searchDiv .search #searchField {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 3px 0.5em 0px;
  vertical-align: middle;
  font-size: 1.5em;
  border: 0px;
  max-width: 5vw;
  -webkit-animation: 0.4s ease expand forwards;
          animation: 0.4s ease expand forwards;
  position: relative;
  border-bottom: 3px solid #383838;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
nav .searchDiv .search #searchField:focus, nav .searchDiv .search #searchField:active {
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-color: #000;
}
nav .searchDiv .search #searchField:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-color: #000;
}
nav .searchDiv .search .results {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFF;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 1em;
  width: 100%;
  left: 0%;
}
nav .searchDiv .search .results .activeResult {
  background: blue;
}
nav .searchDiv .search .results div a {
  display: block;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin: 0.1em 0.5em;
  font-weight: lighter;
  text-transform: capitalize;
  font-weight: 300;
}
nav .searchDiv .search .results div a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: 0px;
  font-weight: 400;
}
@media only screen and (max-width: 890px) {
  nav .searchDiv {
    display: none;
  }
}
nav #alertBox {
  display: none;
  width: 300px;
  height: 250px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  position: absolute;
  margin-left: calc(50vw - 150px);
  font-weight: normal;
  padding: 1em;
  z-index: 5;
  right: 4vmax;
  top: 8vmax;
  font-size: 1.1em;
}
nav #alertBox a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: block;
  background-color: #FF0000;
  margin: auto 3% 0.7em;
  width: 80%;
  height: 2em;
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: #FFF;
  border-radius: 0.2em;
  text-align: center;
}
nav #alertBox a:hover, nav #alertBox a:active {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  border: 0px;
}
nav #alertBox span {
  cursor: pointer;
  position: relative;
  font-size: 1.3em;
  line-height: 0.6;
  float: right;
  color: #999999 !important;
  text-transform: lowercase !important;
}
nav #alertBox span:hover {
  color: #000;
}
nav #Cookies {
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  background-color: #000;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 560px;
  border-radius: 10px;
  padding: 20px;
  color: #FBFBFB;
}
@media only screen and (max-width: 890px) {
  nav #Cookies {
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
  nav #Cookies h1 {
    display: none;
  }
}
nav #Cookies div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media only screen and (max-width: 890px) {
  nav #Cookies div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
nav #Cookies div span {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
  display: inline-block;
  color: #FBFBFB;
  background-color: #000;
  border: 5px solid #FBFBFB;
  font-size: 1.25em;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.6em 2em;
  text-transform: uppercase;
  margin: 2vh 0;
  font-weight: bold;
  text-align: center;
}
nav #Cookies div span:hover {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #000;
  background-color: #FBFBFB;
}
nav #Cookies div span:active, nav #Cookies div span:focus {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
nav #Cookies div a {
  margin: 0;
  display: inline-block;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 1px dotted #FBFBFB;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 5%;
  color: #FBFBFB;
  font-size: 1em;
}
nav #Cookies div a::-moz-selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
nav #Cookies div a::selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
nav #Cookies div a:hover {
  border-bottom: 0px;
  border-bottom: 1px solid #FBFBFB;
  color: #FBFBFB;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  text-decoration: none;
}
nav #Cookies p::-moz-selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
nav #Cookies p::selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
@media only screen and (max-width: 890px) {
  nav #Cookies {
    width: 100vw;
    border-radius: 5px 5px 0 0;
  }
  nav #Cookies span {
    margin: 0 5px 50px 0;
  }
}
nav #mobileNav {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: #FFF;
  display: none;
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
  z-index: 9999999;
  padding-top: 2vh;
}
nav #mobileNav a {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 3em !important;
  text-align: left;
  width: 100%;
  display: block;
  padding: 10px 3vmax;
  font-weight: 200 !important;
}
nav #mobileNav a:active, nav #mobileNav a:hover, nav #mobileNav a:focus {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: 0px !important;
  color: grey !important;
}
nav #Nav {
  padding: 4vmax 4vmax;
  width: 100%;
  height: calc(8vmax + (1.5em * 1.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  text-transform: uppercase;
}
nav #Nav .Logo a img {
  width: 200px;
  margin: -4px 0 0;
}
@media only screen and (max-width: 575px) {
  nav #Nav .Logo a img {
    margin: 0px 0 0;
    width: 180px;
  }
}
@media only screen and (max-width: 376px) {
  nav #Nav .Logo a img {
    margin: 3px 0 0;
    width: 160px;
  }
}
nav #Nav .Material {
  text-transform: lowercase !important;
  font-size: 1.6em;
}
nav #Nav .RightNav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav #Nav a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #000;
  margin: 0 1vw;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 0px solid #383838;
  position: relative;
}
nav #Nav a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 3px solid #000;
  color: #000;
  padding-bottom: 2px;
}
nav #Nav .Nav {
  display: inline-block;
}
nav #Nav .Nav span {
  pointer-events: none;
  background-color: #FF0000;
  height: 1.8em;
  width: 1.8em;
  border-radius: 0.9em;
  color: #FBFBFB;
  position: relative;
  margin: 1em 0 0 calc(-1vw - 1.8em);
  font-size: 0.6em;
  display: none;
  text-align: center;
  padding: 0.28em 0em;
}
@media only screen and (max-width: 890px) {
  nav #Nav .Nav {
    display: none;
  }
}
nav #Nav .MobileNav {
  display: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
nav #Nav .MobileNav a {
  font-weight: 100;
  font-size: 3em;
  line-height: 0.5;
  vertical-align: text-bottom;
  position: relative;
}
nav #Nav .MobileNav a:hover, nav #Nav .MobileNav a:focus, nav #Nav .MobileNav a:active {
  border: 0px;
}
@media only screen and (max-width: 890px) {
  nav #Nav .MobileNav {
    display: inline-block;
  }
}
nav #Nav .NavPart {
  display: inline-block;
}
@media only screen and (max-width: 575px) {
  nav #Nav {
    padding: 6vmax 3vmax;
    height: calc(12vmax + (1.6em * 1.25));
  }
}
@media only screen and (max-width: 500px) {
  nav #Nav {
    padding: 6vmax 3vmax;
  }
}
@media only screen and (max-width: 376px) {
  nav #Nav {
    padding: 6vmax 3vmax;
  }
}
nav .produkterDD {
  display: inline-block;
}
nav .produkterDD:hover .Hoved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .produkterDD .Hoved {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 200px;
  border: 3px solid #000;
  border-bottom: 2px solid #000;
  background-color: #FFF;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
nav .produkterDD .Hoved div {
  max-height: 410px;
  overflow-y: auto;
}
nav .produkterDD .Hoved .NavKategori1:hover ~ .Menn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
nav .produkterDD .Hoved .Menn:hover {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
nav .produkterDD .Hoved .NavKategori2:hover ~ .Damer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
nav .produkterDD .Hoved .Damer:hover {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
nav .produkterDD .Hoved .NavKategori3:hover ~ .Brands {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
nav .produkterDD .Hoved .Brands:hover {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
nav .produkterDD .Hoved a {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-transform: capitalize;
  margin: 0 !important;
  background-color: #FFF;
  width: 100%;
  height: 80px;
  display: block;
  border-bottom: 1px solid #000 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
  font-size: 1em !important;
}
nav .produkterDD .Hoved a:hover {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 1.1em !important;
  padding: 30px 0px !important;
  padding-bottom: 30px !important;
  text-decoration: underline;
}
nav .produkterDD .Hoved a:hover img {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 62px;
}
nav .produkterDD .Hoved a img {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin: 0 10px;
  width: 60px;
}
nav .produkterDD .Hoved .Menn {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: absolute;
  left: 200px;
  margin: -3px 0 0 -6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 200px;
  border: 3px solid #000;
  background-color: #000;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: none;
}
nav .produkterDD .Hoved .Damer {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: absolute;
  left: 200px;
  margin: 77px 0 0 -6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 200px;
  border: 3px solid #000;
  background-color: #000;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: none;
}
nav .produkterDD .Hoved .Brands {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: absolute;
  left: 200px;
  margin: 157px 0 0 -6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 200px;
  border: 3px solid #000;
  background-color: #000;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: none;
  border-right: 1px solid #000;
}
nav .produkterDD .Hoved .Brands a {
  text-align: center;
  padding: 30px 20px;
}
nav .produkterDD .Hoved .Brands a:hover {
  padding: 30px 20px !important;
}
@media only screen and (max-width: 1023px) {
  nav .produkterDD .Hoved {
    width: 184px;
  }
}
@media only screen and (max-width: 575px) {
  nav .produkterDD .Hoved {
    width: 164px;
  }
}

main {
  padding: 0 4vw;
}
main .mobsquad {
  display: none;
  color: #999999;
  font-size: 2.2em;
  border-bottom: 1px solid #999999;
  padding-bottom: 1px;
  margin-left: 2vmax;
  font-weight: lighter;
  text-transform: uppercase;
}
@media only screen and (max-width: 890px) {
  main .mobsquad {
    display: inline-block;
  }
}
main div.Showcase.New::before {
  display: none;
}
@media only screen and (max-width: 650px) {
  main div.Showcase.New::before {
    display: block;
    font-size: 2em;
    left: 6vmax;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
  }
}
@media only screen and (max-width: 500px) {
  main div.Showcase.New::before {
    font-size: 1.3em;
  }
}
main .Showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: calc(100vh - (8vmax + (1.5em * 1.25) + 5vh));
}
@media only screen and (max-width: 890px) {
  main .Showcase {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}
main .Showcase img {
  cursor: pointer;
  bottom: 0;
  height: 100%;
}
main .Showcase img .New::before {
  display: none;
}
@media only screen and (max-width: 890px) {
  main .Showcase img {
    width: 60%;
    height: auto;
    margin: -139px -49% 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    bottom: auto;
    top: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media only screen and (max-width: 650px) {
  main .Showcase img {
    margin: auto auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (max-width: 575px) {
  main .Showcase img {
    width: 90%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 395px) {
  main .Showcase img {
    width: 100%;
  }
}
main .Showcase .Info {
  margin-top: calc((100vh - (8vmax + (1.5em * 1.25) + 5vh)) / 2);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 45%;
  text-align: left;
}
main .Showcase .Info h1 {
  font-size: 3.75em;
  color: #000;
  text-transform: capitalize;
}
@media only screen and (max-width: 650px) {
  main .Showcase .Info h1 {
    font-size: 3em;
    text-align: center;
    margin: auto;
  }
}
@media only screen and (max-width: 575px) {
  main .Showcase .Info h1 {
    font-size: 2.75em;
  }
}
@media only screen and (max-width: 890px) {
  main .Showcase .Info {
    width: 90%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
  }
}
@media only screen and (max-width: 650px) {
  main .Showcase .Info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .Showcase .Info .New::before {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  main .Showcase .Info {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 70%;
  }
}
@media only screen and (max-width: 426px) {
  main .Showcase .Info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #999999;
  border-radius: 50%;
  cursor: none;
  width: 400px;
  height: 400px;
  z-index: 5;
}

.Bilder {
  overflow: none;
  position: relative;
}

.footer {
  width: 100%;
  height: 50vh;
  border-top: 3px solid #707070;
  margin-top: 15%;
}
.footer .topFooter {
  height: 13vh;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8em;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 890px) {
  .footer .topFooter {
    display: none;
    height: 0;
  }
}
.footer .topFooter a {
  color: #000;
}
.footer .topFooter .tf_tekst {
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
  display: inline;
  margin-bottom: 1vw;
  margin-left: 7vw;
  font-weight: bold;
}
.footer .topFooter .icon_wrapper {
  float: right;
  margin-right: 2vw;
}
.footer .topFooter .icon_wrapper .footer_icon {
  float: right;
}
.footer .topFooter .icon_wrapper .footer_icon img {
  width: 5.5vw;
}
.footer .centerFooter {
  color: #FFFFFF;
  background: #000;
  height: 22vw;
}
@media only screen and (max-width: 1482px) {
  .footer .centerFooter {
    height: 28vw;
  }
}
@media only screen and (max-width: 1158px) {
  .footer .centerFooter {
    height: 30vw;
  }
}
@media only screen and (max-width: 890px) {
  .footer .centerFooter {
    height: 30vw;
  }
}
@media only screen and (max-width: 622px) {
  .footer .centerFooter {
    height: 200px;
  }
}
.footer .centerFooter .cf_wrapper {
  margin-left: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 890px) {
  .footer .centerFooter .cf_wrapper #kolonne_1 {
    display: none;
    height: 0;
    width: 0;
  }
}
.footer .centerFooter .cf_wrapper .cf_kolonne {
  margin-right: 8vw;
  width: 25vw;
  margin-top: 5%;
  font-weight: 500;
}
@media only screen and (max-width: 1482px) {
  .footer .centerFooter .cf_wrapper .cf_kolonne {
    margin-top: 3%;
  }
}
@media only screen and (max-width: 1070px) {
  .footer .centerFooter .cf_wrapper .cf_kolonne {
    width: 32vw;
  }
}
@media only screen and (max-width: 890px) {
  .footer .centerFooter .cf_wrapper .cf_kolonne {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 5vw;
  }
}
.footer .centerFooter .cf_wrapper .cf_kolonne h1 {
  padding-bottom: 4px;
  border-bottom: 5px solid #FFFFFF;
  display: inline;
  font-size: 2em;
}
@media only screen and (max-width: 890px) {
  .footer .centerFooter .cf_wrapper .cf_kolonne h1 {
    margin-left: 6vw;
  }
}
.footer .centerFooter .cf_wrapper .cf_kolonne h1 a {
  color: #FFFFFF;
}
.footer .centerFooter .cf_wrapper .cf_kolonne .kolonne_txt {
  margin-top: 1.5vw;
}
@media only screen and (max-width: 890px) {
  .footer .centerFooter .cf_wrapper .cf_kolonne .kolonne_txt {
    margin-top: 4vw;
  }
}
.footer .centerFooter .cf_wrapper .cf_kolonne .kolonne_txt ul {
  list-style: none;
  text-decoration: none;
  margin-left: -3vw;
  font-size: 1.5em;
}
@media only screen and (max-width: 1070px) {
  .footer .centerFooter .cf_wrapper .cf_kolonne .kolonne_txt ul {
    font-size: 1.4em;
  }
}
.footer .centerFooter .cf_wrapper .cf_kolonne .kolonne_txt ul li {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 890px) {
  .footer .centerFooter .cf_wrapper .cf_kolonne .kolonne_txt ul li img {
    width: 4vw;
    margin-right: 5vw;
  }
}
.footer .centerFooter .cf_wrapper .cf_kolonne .kolonne_txt ul li div {
  color: white;
}
.footer .centerFooter .cf_wrapper .cf_kolonne .kolonne_txt img {
  width: 2.5vw;
  margin-right: 0.5vw;
}
.footer .bottomFooter {
  height: 6vh;
  color: #000;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 890px) {
  .footer .bottomFooter {
    font-size: 1.5em;
    height: 5vw;
  }
}

.shopBtn {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: inline-block;
  color: #000;
  background-color: #FFF;
  border: 5px solid #000;
  font-size: 1.25em;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 1em 2em;
  text-transform: uppercase;
  margin: 2vh 0;
  font-weight: bold;
  text-align: center;
}
.shopBtn:hover {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #FFF;
  background-color: #000;
}
.shopBtn:active, .shopBtn:focus {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
@media only screen and (max-width: 650px) {
  .shopBtn {
    display: block;
    font-size: 1.5em;
    padding: 1em 0;
  }
}

.New {
  font-weight: bold;
}
.New::before {
  content: "Ny";
  display: block;
  position: absolute;
  font-weight: normal;
  font-size: 20px;
  background-color: #000;
  color: #FFF;
  padding: 0.25em 1em;
  -webkit-transform: translate(0%, -70%);
          transform: translate(0%, -70%);
  text-transform: uppercase;
  z-index: 3;
  line-height: 1;
}
@media only screen and (max-width: 575px) {
  .New::before {
    font-size: 18px;
  }
}
@media only screen and (max-width: 395px) {
  .New::before {
    font-size: 16px;
  }
}

.LinkToHost {
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin-top: 20vh;
}
.LinkToHost #LinkToHost {
  text-decoration: underline;
}
.LinkToHost #LinkToHost:hover {
  color: #383838;
}

@-webkit-keyframes expand {
  0% {
    max-width: 5vw;
  }
  100% {
    max-width: 15vw;
  }
}

@keyframes expand {
  0% {
    max-width: 5vw;
  }
  100% {
    max-width: 15vw;
  }
}
.Supreme::before {
  content: "Supreme";
  text-transform: capitalize;
  font-style: italic;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background-color: #DA2727;
  display: block;
  position: absolute;
  font-size: 26px;
  color: #FFF;
  padding: 0.25em 0.25em;
  -webkit-transform: translate(0%, -70%);
          transform: translate(0%, -70%);
  line-height: 1;
}
@media only screen and (max-width: 575px) {
  .Supreme::before {
    font-size: 18px;
  }
}
@media only screen and (max-width: 395px) {
  .Supreme::before {
    font-size: 16px;
  }
}

.kategori_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7%;
  background-color: inherit;
}
.kategori_wrapper .k_b {
  background-color: inherit;
  width: 15vw;
  height: 15vw;
  margin: 1.3vw;
  display: block;
  border: 3px solid #707070;
  z-index: 0;
  position: relative;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}
@media only screen and (max-width: 890px) {
  .kategori_wrapper .k_b {
    margin: 3vw;
    width: 40vw;
    height: 40vw;
  }
}
@media only screen and (max-width: 575px) {
  .kategori_wrapper .k_b {
    margin: 3vw;
    width: 70vw;
    height: 70vw;
  }
}
.kategori_wrapper .k_b .k_b_innhold {
  display: none;
  position: absolute;
  color: white;
  font-size: 3vmax;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media only screen and (max-width: 890px) {
  .kategori_wrapper .k_b .k_b_innhold {
    font-size: 10vmax;
  }
}
.kategori_wrapper .k_b:hover .k_b_innhold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(50, 50, 50, 0.2);
}
.kategori_wrapper .k_b img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -o-object-fit: cover;
     object-fit: cover;
  bottom: -3px;
  top: -3px;
  left: -3px;
  right: -3px;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.kategori_wrapper .k_b:hover img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.produktside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}
.produktside .venstreside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-left: 20%;
}
.produktside .venstreside .Bilder {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.produktside .venstreside .Bilder .StortBilde {
  width: 100%;
  border: 3px solid #707070;
  padding: 3vh 0vh 0.5vh 0vh;
  display: block;
}
.produktside .venstreside .Bilder .smaBilder {
  height: auto;
  width: 100%;
  padding: 0 0 1px 0;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.produktside .venstreside .Bilder .smaBilder img {
  cursor: pointer;
  width: 33.33%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border: 3px solid #707070;
  margin-top: 2%;
  padding: 0 0 0 0;
}
.produktside .venstreside .Bilder .piler {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.produktside .venstreside .Bilder a {
  font-size: 5.88em;
  display: inline-block;
  letter-spacing: 10vh;
  margin-left: 7%;
}
.produktside .hoyreside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.25%;
}
.produktside .hoyreside h2 {
  font-size: 2.75em;
  color: #000;
  text-transform: capitalize;
  font-family: inherit;
}
.produktside .hoyreside .str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0em 2em 0;
}
.produktside .hoyreside .str a {
  cursor: pointer;
  margin-left: 5px;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #000000;
  background: #ffffff;
  width: 4.7vh;
  height: 4.7vh;
  border-radius: 50%;
  text-align: center;
  font-size: 2.3vh;
  font-weight: bold;
  padding: 0.25em 0 0 0;
}
.produktside .hoyreside .farge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 2em 0;
}
.produktside .hoyreside .farge a {
  cursor: pointer;
  margin-left: 5px;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #000000;
  background: #ffffff;
  width: 4.7vh;
  height: 4.7vh;
  border-radius: 50%;
  text-align: center;
  font-size: 2vh;
  font-weight: bold;
}
.produktside .hoyreside #farge1 {
  background-color: #E0AA1A;
}
.produktside .hoyreside #farge2 {
  background-color: #0097C8;
}
.produktside .hoyreside #farge3 {
  background-color: #992319;
}
.produktside .hoyreside #farge4 {
  background-color: #004130;
}
.produktside .hoyreside #farge5 {
  background-color: #CBCBCB;
}
.produktside .hoyreside #farge6 {
  background-color: #171717;
}

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.cartBigDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  .cartBigDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.cartBigDiv .cartMainProducts {
  margin-left: 5vw;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.cartBigDiv .cartMainProducts .cartProducts {
  margin-bottom: 1vw;
  padding: 1.5vw;
  width: 45vw;
  height: 17.5vw;
  border: 1.5px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts .cartProducts {
    width: 60vw;
    height: 25vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts {
    width: 80vw;
    height: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5vw;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .KryssUt {
  cursor: pointer;
  font-family: "Roboto", "Calibri", sans-serif;
  position: relative;
  display: block;
  text-transform: lowercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 0.35;
  top: -7.5%;
  right: -10.5%;
  font-size: 3.5vw;
  font-weight: 100;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts .cartProducts .KryssUt {
    top: -4%;
    right: -6.5%;
    font-size: 4.5vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .KryssUt {
    top: -96%;
    right: -94%;
    font-size: 10vw;
  }
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts .cartProducts .KryssUt {
    top: -4%;
    right: -6.5%;
    font-size: 4.5vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .KryssUt {
    top: -96%;
    right: -94%;
    font-size: 10vw;
  }
}
.cartBigDiv .cartMainProducts .cartProducts img {
  width: 20vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
  vertical-align: middle;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts .cartProducts img {
    width: 30vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts img {
    padding-top: 5vw;
    width: 60vw;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .cartText {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartTextChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartTextChild #cartProductName {
  font-weight: bold;
  font-size: 1.55vw;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartTextChild #cartProductName {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartTextChild #cartProductName {
    padding-top: 5vw;
    font-size: 5vw;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartTextChild #cartProductPrice {
  font-weight: bold;
  font-size: 1.45vw;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartTextChild #cartProductPrice {
    font-size: 1.9vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartTextChild #cartProductPrice {
    font-size: 3.25vw;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductAndPriceParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductAndPriceParent .tabel {
  font-size: 1.25vw;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductAndPriceParent .tabel {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductAndPriceParent .tabel {
    font-size: 4vw;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductAndPriceParent #cartProductColor {
  padding-left: 4vw;
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductAndPriceParent #cartProductColor {
    padding-left: 6vw;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductAndPriceParent #cartProductSize {
  padding-left: 4vw;
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductAndPriceParent #cartProductSize {
    padding-left: 6vw;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductNumberDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductNumberDiv {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductNumberDiv #cartProductNumber {
  font-weight: bold;
  line-height: 1.6;
  font-size: 1vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.2vw solid #000;
  width: 10vw;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductNumberDiv #cartProductNumber {
    font-size: 1.45vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartMainProducts .cartProducts .cartText .cartProductNumberDiv #cartProductNumber {
    font-size: 4vw;
    border-bottom: 0.4vw solid #000;
    width: 40vw;
  }
}
.cartBigDiv .cartConfirmation {
  min-height: 360px;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10vw;
  border: 1.5px solid #707070;
  width: 25vw;
  height: 36vw;
  padding: 1.5vw;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartConfirmation {
    margin-left: 1vw;
    width: 30vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartConfirmation {
    width: 80vw;
    height: 80vw;
    margin-left: 0;
    margin-bottom: 5vw;
    padding: 3vw;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.cartBigDiv .cartConfirmation .cartConfDiscount {
  display: auto;
}
.cartBigDiv .cartConfirmation .cartConfDiscountText {
  color: black;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: bold;
  margin-bottom: 1vh;
}
.cartBigDiv .cartConfirmation .cartConfDiscountRow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cartBigDiv .cartConfirmation .cartConfDiscountRow #cartConfDiscountInput {
  border: 1.5px solid #707070;
  font-size: 1vw;
  line-height: 1.6;
  width: 15vw;
  height: 2vw;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartConfirmation .cartConfDiscountRow #cartConfDiscountInput {
    width: 19vw;
    height: 3vw;
    font-size: 1.45vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartConfirmation .cartConfDiscountRow #cartConfDiscountInput {
    width: 55vw;
    height: 9vw;
    padding-top: 1vw;
  }
}
.cartBigDiv .cartConfirmation .cartConfDiscountRow button {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-transform: uppercase;
  border: 2px solid #000;
  background-color: inherit;
  font-size: 1vw;
  font-weight: bold;
  line-height: 1.6;
  width: 5vw;
  height: 2vw;
}
.cartBigDiv .cartConfirmation .cartConfDiscountRow button:hover, .cartBigDiv .cartConfirmation .cartConfDiscountRow button:focus, .cartBigDiv .cartConfirmation .cartConfDiscountRow button:active {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #FFF;
  background-color: #000;
}
.cartBigDiv .cartConfirmation .cartConfDiscountRow button:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartConfirmation .cartConfDiscountRow button {
    width: 7vw;
    height: 3vw;
    font-size: 1.45vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartConfirmation .cartConfDiscountRow button {
    width: 14vw;
    height: 9vw;
    font-size: 3vw;
    border: 3px solid #000;
  }
}
.cartBigDiv .cartConfirmation .cartConfDiscountRow .cartConfDiscountSmallText {
  font-size: 0.85vw;
  line-height: 1.6;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartConfirmation .cartConfDiscountRow .cartConfDiscountSmallText {
    font-size: 1.25vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartConfirmation .cartConfDiscountRow .cartConfDiscountSmallText {
    font-size: 3.5vw;
  }
}
.cartBigDiv .cartConfirmation .cartPayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}
.cartBigDiv .cartConfirmation .cartPayment .cartPaymentChild {
  font-size: 1.5vw;
  line-height: 1.6;
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartConfirmation .cartPayment .cartPaymentChild {
    font-size: 1.95vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartConfirmation .cartPayment .cartPaymentChild {
    font-size: 5vw;
  }
}
.cartBigDiv .cartConfirmation .cartPayment .cartPaymentChild #krPrefix {
  padding-left: 4vw;
  text-align: right;
}
.cartBigDiv .cartConfirmation .cartPayment .cartPaymentChild #krPrefix::after {
  cursor: text;
  content: "kr";
  position: relative;
  padding-left: 0.25vw;
}
.cartBigDiv .cartConfirmation .cartButtonCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cartBigDiv .cartConfirmation .cartButtonCenter #videreTilKassenButton {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: 0;
  color: #FFF;
  text-transform: uppercase;
  background-color: #000;
  font-size: 1vw;
  font-weight: bold;
  line-height: 1.6;
  width: 15vw;
  height: 2vw;
  border: 2px solid #000;
}
.cartBigDiv .cartConfirmation .cartButtonCenter #videreTilKassenButton:hover, .cartBigDiv .cartConfirmation .cartButtonCenter #videreTilKassenButton:focus, .cartBigDiv .cartConfirmation .cartButtonCenter #videreTilKassenButton:active {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #000;
  background-color: #FFF;
}
.cartBigDiv .cartConfirmation .cartButtonCenter #videreTilKassenButton:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
@media only screen and (max-width: 800px) {
  .cartBigDiv .cartConfirmation .cartButtonCenter #videreTilKassenButton {
    font-size: 1.45vw;
    width: 19vw;
    height: 3vw;
  }
}
@media only screen and (max-width: 575px) {
  .cartBigDiv .cartConfirmation .cartButtonCenter #videreTilKassenButton {
    width: 70vw;
    height: 8vw;
    font-size: 3vw;
  }
}

.Kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.Kontakt h1 {
  display: inline-block;
  font-size: 2em;
  text-transform: uppercase;
  border-bottom: 1px solid #707070;
  padding: 0vh 0vw 3vh;
  width: 100%;
  margin-bottom: 4vh;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 890px) {
  .Kontakt h1 {
    font-size: 1.5em;
    padding-bottom: 1.5vh;
    margin-bottom: 1.5vh;
  }
}
.Kontakt div {
  width: 32%;
  min-width: 215px;
  max-width: 550px;
  font-size: 1.25em;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 4vh;
}
.Kontakt div a {
  border-bottom: 1px dotted #000;
  padding-bottom: 0px;
  position: relative;
}
.Kontakt div a:hover {
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 890px) {
  .Kontakt div {
    width: 90%;
    display: block;
    font-size: 1em;
    margin: 4vh auto 7vh;
  }
}
@media only screen and (max-width: 890px) {
  .Kontakt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.anbefalte {
  margin-top: 30vh;
}
.anbefalte h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
}

.anbefaltwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.anbefaltwrapper a {
  margin-right: 2vw;
}
.anbefaltwrapper a .anbefaltbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
}
.anbefaltwrapper a .anbefaltbox img {
  margin-top: 5vh;
  width: 15vw;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 1em;
}
@media only screen and (max-width: 890px) {
  .anbefaltwrapper a .anbefaltbox img {
    width: 40vw;
  }
}
.anbefaltwrapper a .anbefaltbox .anbefaltinfo {
  font-size: 0.75em;
  font-weight: bold;
  margin-top: 0.5vw;
  margin-bottom: 3vw;
}
.anbefaltwrapper a .anbefaltbox .anbefaltinfo .anbefaltpris {
  display: inline-block;
  float: right;
}
.anbefaltwrapper a .anbefaltbox .anbefaltinfo .anbefalttext {
  display: inline-block;
}
.anbefaltwrapper a img {
  margin-top: 5vh;
  width: 20%;
}

.gensere1 {
  width: 100%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gensere1 a {
  margin-bottom: 18vh;
  font-weight: bold;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.gensere1 a img {
  border: 3px solid #707070;
  width: 300px;
  min-width: 230px;
  max-width: 100%;
}
.gensere1 a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.gensere1 a div p {
  display: inline;
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.gensere1 a:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.gensereMenn {
  margin-left: 3.2%;
}

/*# sourceMappingURL=styling.css.map */