/* line 48, styling.sass */
html {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behaviour: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-locale: "nb" !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 58, styling.sass */
body {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  background-color: #FFF;
  font-family: "Calibri", sans-serif;
  min-width: 300px !important;
  line-height: 1.25;
  width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden !important;
  font-size: 20px;
}
@media only screen and (max-width: 1023px) {
  /* line 58, styling.sass */
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 575px) {
  /* line 58, styling.sass */
  body {
    font-size: 16px;
  }
}

/* line 76, styling.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid blue */
  border-collapse: collapse;
}

/* line 86, styling.sass */
a {
  text-decoration: none;
  color: black;
}

/* line 91, styling.sass */
::-moz-selection {
  background: #383838;
  opacity: 0.7;
  color: #FFF;
}

/* line 97, styling.sass */
::-moz-selection {
  background: #383838;
  color: #FFF;
  opacity: 0.7;
}
::selection {
  background: #383838;
  color: #FFF;
  opacity: 0.7;
}

/* line 103, styling.sass */
::-webkit-scrollbar {
  width: 5px;
  margin: 2px 2px 2px -7px;
  right: 0;
  border-radius: 2.5px;
}

/* line 110, styling.sass */
::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: darkgrey;
  border-radius: 2.5px;
}
/* line 115, styling.sass */
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: black;
}

/* line 120, styling.sass */
.Material {
  font-family: "Material Icons", sans-serif;
  font-size: 1.5em;
  vertical-align: top;
}

/* line 126, styling.sass */
nav {
  padding: 4vmax 4vmax;
  width: 100%;
  height: calc(8vmax + (1.5em * 1.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  text-transform: uppercase;
  margin: 0 0 5vh;
}
/* line 139, styling.sass */
nav .Logo a img {
  width: 200px;
  margin: -4px 0 0;
}
/* line 143, styling.sass */
nav .Material {
  text-transform: lowercase !important;
  font-size: 1.6em;
}
/* line 147, styling.sass */
nav .RightNav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/* line 154, styling.sass */
nav a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #000;
  margin: 0 1vw;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 0px solid #383838;
  position: relative;
}
/* line 163, styling.sass */
nav a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 3px solid #000;
  color: #000;
  padding-bottom: 2px;
}
/* line 169, styling.sass */
nav .Nav {
  display: inline-block;
}
@media only screen and (max-width: 890px) {
  /* line 169, styling.sass */
  nav .Nav {
    display: none;
  }
}
/* line 175, styling.sass */
nav .MobileNav {
  display: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/* line 179, styling.sass */
nav .MobileNav a {
  font-weight: 100;
  font-size: 3em;
  line-height: 0.5;
  vertical-align: text-bottom;
}
@media only screen and (max-width: 890px) {
  /* line 175, styling.sass */
  nav .MobileNav {
    display: inline-block;
  }
}
/* line 190, styling.sass */
nav .NavPart {
  display: inline-block;
}
@media only screen and (max-width: 500px) {
  /* line 126, styling.sass */
  nav {
    padding: 4vmax 2vmax;
  }
}
@media only screen and (max-width: 376px) {
  /* line 126, styling.sass */
  nav {
    padding: 4vmax 1vmax;
  }
}

/* line 200, styling.sass */
main {
  padding: 0 4vw;
}
/* line 203, styling.sass */
main div.Showcase.New::before {
  display: none;
}
@media only screen and (max-width: 650px) {
  /* line 203, styling.sass */
  main div.Showcase.New::before {
    display: block;
    font-size: 2em;
    left: 4vmax;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
  }
}
@media only screen and (max-width: 500px) {
  /* line 203, styling.sass */
  main div.Showcase.New::before {
    font-size: 1.3em;
  }
}
/* line 215, styling.sass */
main .Showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: calc(100vh - (8vmax + (1.5em * 1.25) + 5vh));
}
@media only screen and (max-width: 890px) {
  /* line 215, styling.sass */
  main .Showcase {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}
/* line 228, styling.sass */
main .Showcase img {
  cursor: pointer;
  bottom: 0;
  height: 100%;
}
/* line 235, styling.sass */
main .Showcase img .New::before {
  display: none;
}
@media only screen and (max-width: 890px) {
  /* line 228, styling.sass */
  main .Showcase img {
    width: 60%;
    height: auto;
    margin: -139px -49% 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    bottom: auto;
    top: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media only screen and (max-width: 650px) {
  /* line 228, styling.sass */
  main .Showcase img {
    margin: auto auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (max-width: 575px) {
  /* line 228, styling.sass */
  main .Showcase img {
    width: 90%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 395px) {
  /* line 228, styling.sass */
  main .Showcase img {
    width: 100%;
  }
}
/* line 259, styling.sass */
main .Showcase .Info {
  margin-top: calc((100vh - (8vmax + (1.5em * 1.25) + 5vh)) / 2);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 45%;
  text-align: left;
}
/* line 268, styling.sass */
main .Showcase .Info h1 {
  font-size: 3.75em;
  color: black;
  text-transform: capitalize;
}
@media only screen and (max-width: 650px) {
  /* line 268, styling.sass */
  main .Showcase .Info h1 {
    font-size: 3em;
    text-align: center;
    margin: auto;
  }
}
@media only screen and (max-width: 575px) {
  /* line 268, styling.sass */
  main .Showcase .Info h1 {
    font-size: 2.75em;
  }
}
@media only screen and (max-width: 890px) {
  /* line 259, styling.sass */
  main .Showcase .Info {
    width: 90%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
  }
}
@media only screen and (max-width: 650px) {
  /* line 259, styling.sass */
  main .Showcase .Info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* line 290, styling.sass */
  main .Showcase .Info .New::before {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  /* line 259, styling.sass */
  main .Showcase .Info {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 70%;
  }
}
@media only screen and (max-width: 426px) {
  /* line 259, styling.sass */
  main .Showcase .Info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* line 302, styling.sass */
.shopBtn {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: inline-block;
  color: black;
  background-color: #FFF;
  border: 5px solid black;
  font-size: 1.25em;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 1em 2em;
  text-transform: uppercase;
  margin: 2vh 0;
  font-weight: bold;
  text-align: center;
}
/* line 317, styling.sass */
.shopBtn:hover, .shopBtn:focus {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #FFF;
  background-color: black;
}
/* line 322, styling.sass */
.shopBtn:active {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
@media only screen and (max-width: 650px) {
  /* line 302, styling.sass */
  .shopBtn {
    display: block;
    font-size: 1.5em;
    padding: 1em 0;
  }
}

/* line 334, styling.sass */
.New {
  font-weight: bold;
}
/* line 337, styling.sass */
.New::before {
  content: "Ny";
  display: block;
  position: absolute;
  font-weight: normal;
  font-size: 20px;
  background-color: black;
  color: #FFF;
  padding: 0.25em 1em;
  -webkit-transform: translate(0%, -70%);
          transform: translate(0%, -70%);
  text-transform: uppercase;
  line-height: 1;
}
@media only screen and (max-width: 575px) {
  /* line 337, styling.sass */
  .New::before {
    font-size: 18px;
  }
}
@media only screen and (max-width: 395px) {
  /* line 337, styling.sass */
  .New::before {
    font-size: 16px;
  }
}

/* line 379, styling.sass */
.searchDiv {
  display: inline;
  position: relative;
}
/* line 383, styling.sass */
.searchDiv .search {
  display: none;
  position: relative;
}
/* line 387, styling.sass */
.searchDiv .search #searchField {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 6px 0.5em 2px;
  vertical-align: baseline;
  font-size: 1.5em;
  border: 0px;
  max-width: 5vw;
  -webkit-animation: 0.4s ease expand forwards;
          animation: 0.4s ease expand forwards;
  position: relative;
  border-bottom: 3px solid #383838;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
/* line 403, styling.sass */
.searchDiv .search #searchField:focus, .searchDiv .search #searchField:active {
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-color: #000;
}
/* line 408, styling.sass */
.searchDiv .search #searchField:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-color: #000;
}
/* line 413, styling.sass */
.searchDiv .search .results {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFF;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 1em;
  width: 100%;
  left: 0%;
}
/* line 427, styling.sass */
.searchDiv .search .results .result {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin: 0.1em 0.5em;
  font-weight: lighter;
  display: none;
  text-transform: capitalize;
  font-weight: 300;
}
/* line 435, styling.sass */
.searchDiv .search .results .result:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: 0px;
  font-weight: 400;
}
@media only screen and (max-width: 890px) {
  /* line 379, styling.sass */
  .searchDiv {
    display: none;
  }
}

/* line 444, styling.sass */
.LinkToHost {
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin-top: 20vh;
}
/* line 450, styling.sass */
.LinkToHost #LinkToHost {
  text-decoration: underline;
}
/* line 453, styling.sass */
.LinkToHost #LinkToHost:hover {
  color: #383838;
}

/* line 456, styling.sass */
#alertBox {
  display: none;
}

/* line 460, styling.sass */
#Cookies {
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  background-color: #383838;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 70%;
  border-radius: 50px 50px 0 0;
  padding: 10px 3vw 8px;
  color: #FBFBFB;
  margin: 0 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/* line 476, styling.sass */
#Cookies a {
  margin: 0;
  display: inline;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 0px;
  padding: 0;
  color: #FBFBFB;
  font-size: 1em;
}
/* line 486, styling.sass */
#Cookies a::-moz-selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
#Cookies a::selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
/* line 491, styling.sass */
#Cookies a:hover {
  border-bottom: 0px;
  padding: 0;
  color: #FBFBFB;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  text-decoration: underline;
}
/* line 499, styling.sass */
#Cookies p::-moz-selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
#Cookies p::selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
/* line 504, styling.sass */
#Cookies span {
  cursor: pointer;
  position: relative;
  font-size: 1.3em;
  margin: 0 -1vw 1vw 0;
  text-transform: lowercase;
  float: right;
}
/* line 513, styling.sass */
#Cookies span::-moz-selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
#Cookies span::selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
@media only screen and (max-width: 890px) {
  /* line 460, styling.sass */
  #Cookies {
    width: 100vw;
    border-radius: 5px 5px 0 0;
  }
  /* line 522, styling.sass */
  #Cookies span {
    margin: 0 5px 50px 0;
  }
}

@-webkit-keyframes expand {
  0% {
    max-width: 5vw;
  }
  100% {
    max-width: 15vw;
  }
}

@keyframes expand {
  0% {
    max-width: 5vw;
  }
  100% {
    max-width: 15vw;
  }
}
/* line 531, styling.sass */
.Supreme::before {
  content: "Supreme";
  text-transform: capitalize;
  font-style: italic;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background-color: #DA2727;
  display: block;
  position: absolute;
  font-size: 20px;
  color: #FFF;
  padding: 0.25em 0.25em;
  -webkit-transform: translate(0%, -70%);
          transform: translate(0%, -70%);
  line-height: 1;
}
@media only screen and (max-width: 575px) {
  /* line 531, styling.sass */
  .Supreme::before {
    font-size: 18px;
  }
}
@media only screen and (max-width: 395px) {
  /* line 531, styling.sass */
  .Supreme::before {
    font-size: 16px;
  }
}

/* line 560, styling.sass */
.produktside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/* line 567, styling.sass */
.produktside .venstreside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
/* line 574, styling.sass */
.produktside .venstreside .StortBilde {
  width: 55%;
  border: 3px solid #707070;
  padding: 6vh 0vh 3vh 0vh;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/* line 581, styling.sass */
.produktside .hoyreside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/* line 588, styling.sass */
.produktside .hoyreside h2 {
  font-size: 2.75em;
  color: black;
  text-transform: capitalize;
  font-family: inherit;
}

/*# sourceMappingURL=styling.css.map */