// ======================================= Variables

//Colors

$MainColor: #FF0000
//000
$SecondaryColor: #383838
$ThirdColor: #999999
$Black: #000
$White: #FFF
$WhiteHover : #FBFBFB

//Transitions
$Fast: all .1s ease
$Medium: all .25s ease
$Slow: all .5s ease


//Shadows

$Shadow: 0px 3px 6px rgba(0,0,0,0.2)
$BigShadow: 0px 3px 9px 3px rgba(0,0,0,0.1)

//Mobile optimization
$Mobile: "only screen and (max-width : 890px)"

// ============ Mobile
$MobileS: "only screen and (max-width : 334px)"
$MobileM: "only screen and (max-width : 376px)"
$MobileXM: "only screen and (max-width : 395px)"
$MobileL: "only screen and (max-width : 426px)"
$MobileXL: "only screen and (max-width : 500px)"
$MobileXXL: "only screen and (max-width : 575px)"


// ============ Tablet
$TabletS: "only screen and (max-width : 650px)"
$TabletM: "only screen and (max-width : 700px)"
$TabletL: "only screen and (max-width : 800px)"

// ============ Laptop
$Laptop: "only screen and (max-width : 1023px)"

// ============ Desktop
$Desktop: "only screen and (max-width : 1222px)"


// ============================================= CSS
html
  transition: all 0s ease
  scroll-behavior: smooth
  -moz-scroll-behavior: smooth
  -webkit-scroll-behaviour: smooth
  -webkit-font-smoothing: antialiased
  -webkit-locale: "nb" !important
  -webkit-tap-highlight-color: rgba(0,0,0,0)


body
  transition: all 0s ease
  background-color: $White
  font-family: 'Calibri', sans-serif
  min-width: 300px !important
  line-height: 1.25
  width: 100% !important
  overflow-y: auto
  overflow-x: hidden !important
  font-size: 20px

  @media #{$Laptop}
    font-size: 18px

  @media #{$MobileXXL}
    font-size: 16px


*
  box-sizing: border-box
  margin: 0
  padding: 0
  /*border: 1px solid blue*/
  border-collapse: collapse

  &:focus
    //outline: none

a
  text-decoration: none
  color: $Black


::-moz-selection
  background: $SecondaryColor
  opacity: 0.7
  color: $White


::selection
  background: $SecondaryColor
  color: $White
  opacity: 0.7


::-webkit-scrollbar
  width: 5px
  //margin: 2px 2px 2px -10px
  right: 0



::-webkit-scrollbar-thumb
  transition: all 0.3s ease-in-out
  background: $MainColor
  border-radius: 2.5px

  &:hover
    transition: all 0.3s ease-in-out
    background: $Black


.Material
  font-family: 'Material Icons', sans-serif
  font-size: 1.5em
  vertical-align: top
  font-weight: 100


nav
  margin: 0 0 5vh 0

  a
    transition: $Fast
    color: $Black
    margin: 0 1vw
    font-size: 1.5em
    font-weight: bold
    border-bottom: 0px solid $SecondaryColor
    position: relative

  .searchDiv
    display: inline
    position: relative

    .search
      display: none
      position: relative

      #searchField
        transition: $Slow
        padding: 3px .5em 0px
        vertical-align: middle
        font-size: 1.5em
        //margin-top: -2em
        border: 0px
        max-width: 5vw
        animation: 0.4s ease expand forwards
        position: relative
        //width: 0px
        //width: 350px
        border-bottom: 3px solid $SecondaryColor
        //border-radius: 1em 1em 0 0
        box-sizing: content-box

        &:focus, &:active
          outline: none
          transition: $Slow
          border-color: $Black

        &:hover
          transition: $Slow
          //transform: scale(1.07)
          border-color: $Black

      .results
        position: absolute
        display: flex
        flex-direction: column
        background: $White
        box-shadow: $Shadow
        color: $Black
        font-size: 1em
        //padding: .2em
        //border-radius: 0 0 1em 1em
        width: 100%
        //top: 2.5em
        left: 0%

        .activeResult
          background: blue

        div
          a
            display: block
            transition: $Fast
            margin: .1em .5em
            font-weight: lighter
            //display: none
            text-transform: capitalize
            font-weight: 300

            &:hover
              transition: $Fast
              border: 0px
              font-weight: 400

    @media #{$Mobile}
      display: none


  #alertBox
    display: none
    width: 300px
    height: 250px
    background-color: $White
    box-shadow: $BigShadow
    border-radius: .2em
    position: absolute
    margin-left: calc(50vw - 150px)
    font-weight: normal
    padding: 1em
    z-index: 5
    right: 4vmax
    top: 8vmax
    font-size: 1.1em

    a
      transition: $Fast
      box-shadow: $Shadow
      display: block
      background-color: $MainColor
      margin: auto 3% .7em
      width: 80%
      height: 2em
      padding: 10px
      position: absolute
      bottom: 0
      color: $White
      border-radius: .2em
      text-align: center

      &:hover, &:active
        transition: $Fast
        transform: scale(1.07)
        border: 0px

    span
      cursor: pointer
      position: relative
      font-size: 1.3em
      line-height: .6
      //padding: 1vw 0
      //margin: 0 1em 1em 0
      float: right
      color: $ThirdColor !important
      text-transform: lowercase !important

      &:hover
        color: $Black


  #Cookies
    box-shadow: $BigShadow
    z-index: 9999
    background-color: $Black
    position: fixed
    bottom: 30px
    right: 30px
    width: 560px
    border-radius: 10px
    padding: 20px
    color: $WhiteHover
    //min-width: 500px

    @media #{$Mobile}
      width: 100%
      bottom: 0
      right: 0
      left: 0

      h1
        display: none

    div
      display: flex
      align-items: flex-end
      justify-content: flex-end

      @media #{$Mobile}
        align-items: flex-start
        justify-content: space-between

      span
        transition: $Medium
        cursor: pointer
        display: inline-block
        color: $WhiteHover
        background-color: $Black
        border: 5px solid $WhiteHover
        font-size: 1.25em
        box-sizing: content-box
        padding: .6em 2em
        text-transform: uppercase
        margin: 2vh 0
        font-weight: bold
        text-align: center
        //max-width: 400px

        &:hover
          transition: $Medium
          color: $Black
          background-color: $WhiteHover

        &:active, &:focus
          transition: $Medium
          transform: scale(.97)


      a
        margin: 0
        display: inline-block
        transition: $Fast
        border-bottom: 1px dotted $WhiteHover
        padding: 0
        align-self: center
        margin-right: 5%
        color: $WhiteHover
        font-size: 1em
        //pointer-events: none

        &::selection
          color: $WhiteHover !important
          background-color: rgba(0,0,0,0) !important
          opacity: 1

        &:hover
          border-bottom: 0px
          border-bottom: 1px solid $WhiteHover
          color: $WhiteHover
          transition: $Fast
          text-decoration: none

    p
      &::selection
        color: $WhiteHover !important
        background-color: rgba(0,0,0,0) !important
        opacity: 1


    @media #{$Mobile}
      width: 100vw
      border-radius: 5px 5px 0 0

      span
        margin: 0 5px 50px 0


  #mobileNav
    transition: $Slow
    width: 100%
    height: 0px
    overflow: hidden
    background-color: $White
    //box-shadow: $Shadow
    display: none
    position: absolute
    //bottom: 0
    top: 15vh
    left: 0
    right: 0
    z-index: 9999999
    padding-top: 2vh

    a
      transition: $Medium
      font-size: 3em !important
      text-align: left
      width: 100%
      display: block
      //height: 50px
      padding: 10px 3vmax
      font-weight: 200 !important

      &:active, &:hover, &:focus
        transition: $Medium
        border: 0px !important
        color: grey !important

  #Nav
    padding: 4vmax 4vmax
    width: 100%
    height: calc(8vmax + (1.5em * 1.25))
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-content: stretch
    text-transform: uppercase

    .Logo
      a
        img
          width: 200px
          margin: -4px 0 0

          @media #{$MobileXXL}
            margin: 0px 0 0
            width: 180px

          @media #{$MobileM}
            margin: 3px 0 0
            width: 160px

    .Material
      text-transform: lowercase !important
      font-size: 1.6em

    .RightNav
      align-self: flex-end
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: flex-end

    a
      transition: $Fast
      color: $Black
      margin: 0 1vw
      font-size: 1.5em
      font-weight: bold
      border-bottom: 0px solid $SecondaryColor
      position: relative

      &:hover
        transition: $Fast
        border-bottom: 3px solid $Black
        color: $Black
        padding-bottom: 2px

    .Nav
      display: inline-block

      span
        pointer-events: none
        background-color: $MainColor
        height: 1.8em
        width: 1.8em
        border-radius: .9em
        color: $WhiteHover
        position: relative
        margin: 1em 0 0 calc(-1vw - 1.8em)
        font-size: .6em
        display: inline-block
        text-align: center
        padding: .28em .0em

      @media #{$Mobile}
        display: none

    .MobileNav
      display: none
      align-self: flex-end


      a
        font-weight: 100
        font-size: 3em
        line-height: .5
        vertical-align: text-bottom
        position: relative

        &:hover, &:focus, &:active
          border: 0px


      @media #{$Mobile}
        display: inline-block
        //padding: 0 2.3vw

    .NavPart
      display: inline-block

    @media #{$MobileXXL}
      padding: 6vmax 3vmax
      height: calc(12vmax + (1.6em * 1.25))

    @media #{$MobileXL}
      padding: 6vmax 3vmax

    @media #{$MobileM}
      padding: 6vmax 3vmax


  .produkterDD
    display: inline-block

    &:hover
      .Hoved
        display: flex

    .Hoved
      transition: $Fast
      position: absolute
      display: none
      flex-direction: column
      flex-wrap: nowrap
      width: 200px
      border: 3px solid $Black
      border-bottom: 2px solid $Black
      background-color: $White
      z-index: 99
      box-shadow: $Shadow

      div
        max-height: 410px
        overflow-y: auto


      .NavKategori1:hover ~ .Menn
        display: flex !important

      .Menn:hover
        display: flex !important

      .NavKategori2:hover ~ .Damer
        display: flex !important

      .Damer:hover
        display: flex !important

      .NavKategori3:hover ~ .Brands
        display: flex !important

      .Brands:hover
        display: flex !important

      a
        transition: $Medium
        text-transform: capitalize
        margin: 0 !important
        background-color: $White
        width: 100%
        height: 80px
        display: block
        border-bottom: 1px solid $Black !important
        display: flex
        justify-content: flex-start
        align-items: center
        padding: 30px 0px
        font-size: 1em !important

        &:hover
          transition: $Medium
          font-size: 1.1em !important
          padding: 30px 0px !important
          padding-bottom: 30px !important
          text-decoration: underline

          img
            transition: $Medium
            width: 62px

        img
          transition: $Medium
          margin: 0 10px
          width: 60px

      .Menn
        transition: $Fast
        position: absolute
        left: 200px
        margin: -3px 0 0 -6px
        flex-direction: column
        flex-wrap: nowrap
        width: 200px
        border: 3px solid $Black
        background-color: $Black
        z-index: 99
        box-shadow: $Shadow
        display: none

      .Damer
        transition: $Fast
        position: absolute
        left: 200px
        margin: 77px 0 0 -6px
        flex-direction: column
        flex-wrap: nowrap
        width: 200px
        border: 3px solid $Black
        background-color: $Black
        z-index: 99
        box-shadow: $Shadow
        display: none

      .Brands
        transition: $Fast
        position: absolute
        left: 200px
        margin: 157px 0 0 -6px
        flex-direction: column
        flex-wrap: nowrap
        width: 200px
        border: 3px solid $Black
        background-color: $Black
        z-index: 99
        box-shadow: $Shadow
        display: none
        border-right: 1px solid $Black

        a
          text-align: center
          padding: 30px 20px

          &:hover
            padding: 30px 20px !important

      @media #{$Laptop}
        width: 184px

      @media #{$MobileXXL}
        width: 164px



main
  padding: 0 4vw

  .mobsquad
    display: none
    color: $ThirdColor
    font-size: 2em
    border-bottom: 1px solid $ThirdColor
    padding-bottom: 1px
    margin-left: 2vmax

    @media #{$Mobile}
      display: inline-block


  div.Showcase.New::before
    display: none

    @media #{$TabletS}
      display: block
      font-size: 2em
      left: 6vmax
      transform: translate(0%, 50%)

    @media #{$MobileXL}
      font-size: 1.3em

  .Showcase
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-around
    align-content: center
    width: 100%
    height: calc(100vh - (8vmax + (1.5em * 1.25) + 5vh))

    @media #{$Mobile}
      flex-wrap: wrap
      height: auto

    img
      cursor: pointer
      //Image size: 862 x 1248
      //width: 40%
      bottom: 0
      height: 100%

      .New::before
        display: none

      @media #{$Mobile}
        width: 60%
        //height: calc((862px / 1248px) / 100 * 60)
        height: auto
        margin: -139px -49% 0 0
        order: 2
        bottom: auto
        top: 0
        align-self: flex-end

      @media #{$TabletS}
        margin: auto auto
        order: 1

      @media #{$MobileXXL}
        width: 90%
        margin-left: 15%

      @media #{$MobileXM}
        width: 100%

    .Info
      margin-top: calc((100vh - (8vmax + (1.5em * 1.25) + 5vh)) / 2)
      transform: translate(0, -50%)
      //flex-grow: 1
      width: 45%
      //align-self: center
      //align-self: flex-end
      text-align: left

      h1
        font-size: 3.75em
        color: $Black
        text-transform: capitalize

        @media #{$TabletS}
          font-size: 3em
          text-align: center
          margin: auto

        @media #{$MobileXXL}
          font-size: 2.75em

      @media #{$Mobile}
        width: 90%
        order: 1
        margin-top: 0
        transform: none

      @media #{$TabletS}
        order: 2

        .New::before
          display: none

      @media #{$MobileXXL}
        flex-grow: 0
        width: 70%

      @media #{$MobileL}
        flex-grow: 1

.img-magnifier-glass
  position: absolute
  border: 1px solid $ThirdColor
  border-radius: 50%
  cursor: none
  width: 400px
  height: 400px
  z-index: 5

.Bilder
  overflow: none
  position: relative

//Anders sitt stuff

.footer
  width: 100%
  height: 50vh
  box-shadow: $BigShadow
  border-top: 3px solid #000000

  .topFooter
    height: 30%
    color: #C01C1C
    display: flex
    flex-direction: row
    align-items: center
    font-size: 1.8em
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between

    .tf_tekst
      padding-bottom: 2px
      border-bottom: 2px solid #C01C1C
      display: inline
      margin-bottom: 1vw
      margin-left: 7vw
      font-weight: bold

    .icon_wrapper
      float: right
      margin-right: 2vw

      .footer_icon
        float: right

        img
          width: 5.5vw

  .centerFooter
    color: #FFFFFF
    background: #C01C1C
    height: 90%

    .cf_wrapper
      margin-left: 7vw
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center


      .cf_kolonne
        margin-right: 0vw
        width: 25vw
        margin-top: 4.5vw
        font-weight: 500

        h1
          padding-bottom: 4px
          border-bottom: 5px solid #FFFFFF
          display: inline
          font-size: 2em


  .bottomFooter
    height: 10%
    color: #C01C1C
    text-align: center

//Slutt på Anders sitt stuff

.shopBtn
  transition: $Medium
  display: inline-block
  color: $Black
  background-color: $White
  border: 5px solid $Black
  font-size: 1.25em
  box-sizing: content-box
  padding: 1em 2em
  text-transform: uppercase
  margin: 2vh 0
  font-weight: bold
  text-align: center
  //max-width: 400px

  &:hover
    transition: $Medium
    color: $White
    background-color: $Black

  &:active, &:focus
    transition: $Medium
    transform: scale(.97)

  @media #{$TabletS}
    display: block
    font-size: 1.5em
    padding: 1em 0

//img.New::before
  transform: translate(0%, 0%)

.New
  font-weight: bold

  &::before
    content: "Ny"
    display: block
    position: absolute
    font-weight: normal
    font-size: 20px
    background-color: $Black
    color: $White
    padding: .25em 1em
    transform: translate(0%, -70%)
    text-transform: uppercase
    z-index: 3
    line-height: 1

    @media #{$MobileXXL}
      font-size: 18px

    @media #{$MobileXM}
      font-size: 16px

//
  &::after
    content: "Ny"
    //display: inline is what it should say if you want it to show
    display: none
    position: static
    font-weight: normal
    font-size: 20px
    background-color: black
    color: $White
    padding: .25em 1em
    float: right
    transform: translate(0%, 0%)
    text-transform: uppercase
    line-height: 1

    @media #{$MobileXXL}
      font-size: 18px

    @media #{$MobileXM}
      font-size: 16px


.LinkToHost
  text-align: center
  width: 100%
  font-size: 2em
  margin-top: 20vh

  #LinkToHost
    text-decoration: underline

    &:hover
      color: $SecondaryColor

@keyframes expand
  0%
    max-width: 5vw
  100%
    max-width: 15vw

.Supreme::before
  content: "Supreme"
  text-transform: capitalize
  font-style: italic
  font-weight: 700
  font-family: 'Roboto', sans-serif
  background-color: #DA2727
  display: block
  position: absolute
  font-size: 26px
  color: $White
  padding: .25em .25em
  transform: translate(0%, -70%)
  line-height: 1

  @media #{$MobileXXL}
    font-size: 18px

  @media #{$MobileXM}
    font-size: 16px



// ====================================Eduard sin del
.kategori_wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  margin-top: 7%
  background-color: inherit


  .k_b
    background-color: inherit
    width: auto
    height: auto
    margin: 1.3vw
    display: block
    border: 3px solid #707070
    z-index: 0
    transition: $Medium
    //overflow: hidden

    @media only screen and (max-width: 890px)
      margin: 3vw


    .k_b_innhold
      display: none
      position: relative
      color: white
      font-size: 3em
      text-transform: uppercase
      font-weight: bold
      text-align: center
      z-index: 2
      top: 37%
      height: 0px
      z-index: 1
      transition: $Medium
      text-shadow: 2px 2px rgba(0,0,0,0.4)
      pointer-events: none
      //overflow: hidden
      //height: 100%
      //width: 100%

      @media only screen and (max-width: 890px)
        font-size: 6em !important
        top: 45% !important

      @media only screen and (max-width: 626px)
        font-size: 4em !important
        top: 45% !important

      @media only screen and (max-width: 1200px)
        font-size: 4em
        top: 40%


    &:hover
      .k_b_innhold
        display: block

      .k_b_wrapper
        filter: blur(6px)



    .k_b_wrapper
      padding: 0.6em
      z-index: 1
      //margin: 0.2em

      &:hover
        filter: blur(6px)
        //background-color: rgba(255, 255, 255, 1)

      img
        object-fit: cover
        bottom: 0
        top: 0
        left: 0
        right: 0
        width: 17vw
        height: 19vw

        @media only screen and (max-width: 1200px)
          width: 40vw
          height: 47vw

        @media only screen and (max-width: 890px)
          width: 80vw
          height: 95vw










// ====================================Fredrik sin del
.produktside
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-end

  //align-items: center

  .venstreside
    display: flex
    flex-direction: column
    width: 45%
    align-content: flex-end
    position: absolute
    left: 26%

    //flex-grow: 1

    .Bilder
      align-self: flex-end
      box-sizing: content-box
      justify-content: flex-end
      display: flex
      flex-direction: column



      .StortBilde
        //margin: 3%
        width: 50%
        border: 3px solid #707070
        padding: 3vh 0vh 0.5vh 0vh
        display: block

      .smaBilder
        height: auto
        align-content: flex-start
        align-items: flex-start
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 50%
        padding: 0 0 1px 0

        img
          width: 7vw
          object-fit: cover
          bottom: 0
          top: 0
          left: 0
          right: 0
          height: 8vw
          border: 3px solid #707070
          margin-top: 2%
          padding: 0 0 0 0


  .hoyreside
    display: flex
    flex-direction: column
    width: 50%
    align-items: flex-start
    padding-top: 1.25%
    //flex-grow: 1

    h2
      font-size: 2.75em
      color: $Black
      text-transform: capitalize
      font-family: inherit

    .str
      display: flex
      padding: 1em 0em 2em 0

      a
        margin-left: 5px
        display: block
        flex-direction: row
        border: 2px solid #000000
        background: #ffffff
        width: 4.7vh
        height: 4.7vh
        border-radius: 50%
        text-align: center
        font-size: 2.3vh
        font-weight: bold
        padding: 0.25em 0 0 0

    .farge
      display: flex
      padding: 0 0 2em 0

      a
        margin-left: 5px
        display: block
        flex-direction: row
        border: 2px solid #000000
        background: #ffffff
        width: 4.7vh
        height: 4.7vh
        border-radius: 50%
        text-align: center
        font-size: 2vh
        font-weight: bold

    #farge1
      background-color: #E0AA1A

    #farge2
      background-color: #0097C8

    #farge3
      background-color: #992319

    #farge4
      background-color: #004130

    #farge5
      background-color: #CBCBCB

    #farge6
      background-color: #171717

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label
  color: #c59b08




// ====================Eline sin del
.Kontakt
  display: flex
  justify-content: space-around
  align-items: flex-start


  h1
    display: inline-block
    font-size: 2em
    text-transform: uppercase
    border-bottom: 1px solid #707070
    padding: 0vh 0vw 3vh
    width: 100%
    margin-bottom: 4vh
    text-align: center
    font-weight: bold

    @media #{$Mobile}
      font-size: 1.5em
      padding-bottom: 1.5vh
      margin-bottom: 1.5vh


  div
    width: 32%
    min-width: 215px
    max-width: 550px
    font-size: 1.25em
    display: inline-block
    font-weight: bold
    margin-bottom: 4vh

    @media #{$Mobile}
      width: 90%
      display: block
      font-size: 1em
      margin: 4vh auto 7vh

  @media #{$Mobile}
    flex-direction: column
    justify-content: center
