@charset "UTF-8";
/* line 49, styling.sass */
html {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behaviour: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-locale: "nb" !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 59, styling.sass */
body {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  background-color: #FFF;
  font-family: "Calibri", sans-serif;
  min-width: 300px !important;
  line-height: 1.25;
  width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden !important;
  font-size: 20px;
}
@media only screen and (max-width: 1023px) {
  /* line 59, styling.sass */
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 575px) {
  /* line 59, styling.sass */
  body {
    font-size: 16px;
  }
}

/* line 77, styling.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid blue */
  border-collapse: collapse;
}

/* line 87, styling.sass */
a {
  text-decoration: none;
  color: #000;
}

/* line 92, styling.sass */
::-moz-selection {
  background: #383838;
  opacity: 0.7;
  color: #FFF;
}

/* line 98, styling.sass */
::-moz-selection {
  background: #383838;
  color: #FFF;
  opacity: 0.7;
}
::selection {
  background: #383838;
  color: #FFF;
  opacity: 0.7;
}

/* line 104, styling.sass */
::-webkit-scrollbar {
  width: 5px;
  margin: 2px 2px 2px -7px;
  right: 0;
  border-radius: 2.5px;
}

/* line 111, styling.sass */
::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #999999;
  border-radius: 2.5px;
}
/* line 116, styling.sass */
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #000;
}

/* line 121, styling.sass */
.Material {
  font-family: "Material Icons", sans-serif;
  font-size: 1.5em;
  vertical-align: top;
  font-weight: 100;
}

/* line 128, styling.sass */
nav {
  padding: 4vmax 4vmax;
  width: 100%;
  height: calc(8vmax + (1.5em * 1.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  text-transform: uppercase;
  margin: 0 0 5vh;
}
/* line 139, styling.sass */
nav #mobileNav {
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: #FFF;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: none;
}
/* line 147, styling.sass */
nav #mobileNav a {
  font-size: 1.5em;
  text-align: left;
  width: 100%;
  display: block;
  height: 50px;
  padding-top: 10px;
}
/* line 158, styling.sass */
nav .Logo a img {
  width: 200px;
  margin: -4px 0 0;
}
/* line 162, styling.sass */
nav .Material {
  text-transform: lowercase !important;
  font-size: 1.6em;
}
/* line 166, styling.sass */
nav .RightNav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/* line 173, styling.sass */
nav a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #000;
  margin: 0 1vw;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 0px solid #383838;
  position: relative;
}
/* line 182, styling.sass */
nav a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 3px solid #000;
  color: #000;
  padding-bottom: 2px;
}
/* line 188, styling.sass */
nav .Nav {
  display: inline-block;
}
/* line 191, styling.sass */
nav .Nav span {
  pointer-events: none;
  background-color: #FF0000;
  height: 1.8em;
  width: 1.8em;
  border-radius: 0.9em;
  color: #FBFBFB;
  position: relative;
  margin: 1em 0 0 calc(-1vw - 1.8em);
  font-size: 0.6em;
  display: inline-block;
  text-align: center;
  padding: 0.28em 0em;
}
@media only screen and (max-width: 890px) {
  /* line 188, styling.sass */
  nav .Nav {
    display: none;
  }
}
/* line 208, styling.sass */
nav .MobileNav {
  display: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/* line 212, styling.sass */
nav .MobileNav a {
  font-weight: 100;
  font-size: 3em;
  line-height: 0.5;
  vertical-align: text-bottom;
}
@media only screen and (max-width: 890px) {
  /* line 208, styling.sass */
  nav .MobileNav {
    display: inline-block;
  }
}
/* line 223, styling.sass */
nav .NavPart {
  display: inline-block;
}
@media only screen and (max-width: 575px) {
  /* line 128, styling.sass */
  nav {
    padding: 6vmax 3vmax;
    height: calc(12vmax + (1.6em * 1.25));
  }
}
@media only screen and (max-width: 500px) {
  /* line 128, styling.sass */
  nav {
    padding: 6vmax 2vmax;
  }
}
@media only screen and (max-width: 376px) {
  /* line 128, styling.sass */
  nav {
    padding: 6vmax 1vmax;
  }
}

/* line 237, styling.sass */
main {
  padding: 0 4vw;
}
/* line 240, styling.sass */
main div.Showcase.New::before {
  display: none;
}
@media only screen and (max-width: 650px) {
  /* line 240, styling.sass */
  main div.Showcase.New::before {
    display: block;
    font-size: 2em;
    left: 6vmax;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
  }
}
@media only screen and (max-width: 500px) {
  /* line 240, styling.sass */
  main div.Showcase.New::before {
    font-size: 1.3em;
  }
}
/* line 252, styling.sass */
main .Showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: calc(100vh - (8vmax + (1.5em * 1.25) + 5vh));
}
@media only screen and (max-width: 890px) {
  /* line 252, styling.sass */
  main .Showcase {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}
/* line 265, styling.sass */
main .Showcase img {
  cursor: pointer;
  bottom: 0;
  height: 100%;
}
/* line 272, styling.sass */
main .Showcase img .New::before {
  display: none;
}
@media only screen and (max-width: 890px) {
  /* line 265, styling.sass */
  main .Showcase img {
    width: 60%;
    height: auto;
    margin: -139px -49% 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    bottom: auto;
    top: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media only screen and (max-width: 650px) {
  /* line 265, styling.sass */
  main .Showcase img {
    margin: auto auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (max-width: 575px) {
  /* line 265, styling.sass */
  main .Showcase img {
    width: 90%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 395px) {
  /* line 265, styling.sass */
  main .Showcase img {
    width: 100%;
  }
}
/* line 296, styling.sass */
main .Showcase .Info {
  margin-top: calc((100vh - (8vmax + (1.5em * 1.25) + 5vh)) / 2);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 45%;
  text-align: left;
}
/* line 305, styling.sass */
main .Showcase .Info h1 {
  font-size: 3.75em;
  color: #000;
  text-transform: capitalize;
}
@media only screen and (max-width: 650px) {
  /* line 305, styling.sass */
  main .Showcase .Info h1 {
    font-size: 3em;
    text-align: center;
    margin: auto;
  }
}
@media only screen and (max-width: 575px) {
  /* line 305, styling.sass */
  main .Showcase .Info h1 {
    font-size: 2.75em;
  }
}
@media only screen and (max-width: 890px) {
  /* line 296, styling.sass */
  main .Showcase .Info {
    width: 90%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
  }
}
@media only screen and (max-width: 650px) {
  /* line 296, styling.sass */
  main .Showcase .Info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* line 327, styling.sass */
  main .Showcase .Info .New::before {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  /* line 296, styling.sass */
  main .Showcase .Info {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 70%;
  }
}
@media only screen and (max-width: 426px) {
  /* line 296, styling.sass */
  main .Showcase .Info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* line 339, styling.sass */
.shopBtn {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: inline-block;
  color: #000;
  background-color: #FFF;
  border: 5px solid #000;
  font-size: 1.25em;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 1em 2em;
  text-transform: uppercase;
  margin: 2vh 0;
  font-weight: bold;
  text-align: center;
}
/* line 354, styling.sass */
.shopBtn:hover {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #FFF;
  background-color: #000;
}
/* line 359, styling.sass */
.shopBtn:active, .shopBtn:focus {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
@media only screen and (max-width: 650px) {
  /* line 339, styling.sass */
  .shopBtn {
    display: block;
    font-size: 1.5em;
    padding: 1em 0;
  }
}

/* line 371, styling.sass */
.New {
  font-weight: bold;
}
/* line 374, styling.sass */
.New::before {
  content: "Ny";
  display: block;
  position: absolute;
  font-weight: normal;
  font-size: 20px;
  background-color: #000;
  color: #FFF;
  padding: 0.25em 1em;
  -webkit-transform: translate(0%, -70%);
          transform: translate(0%, -70%);
  text-transform: uppercase;
  line-height: 1;
}
@media only screen and (max-width: 575px) {
  /* line 374, styling.sass */
  .New::before {
    font-size: 18px;
  }
}
@media only screen and (max-width: 395px) {
  /* line 374, styling.sass */
  .New::before {
    font-size: 16px;
  }
}

/* line 416, styling.sass */
.searchDiv {
  display: inline;
  position: relative;
}
/* line 420, styling.sass */
.searchDiv .search {
  display: none;
  position: relative;
}
/* line 424, styling.sass */
.searchDiv .search #searchField {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 3px 0.5em 0px;
  vertical-align: middle;
  font-size: 1.5em;
  border: 0px;
  max-width: 5vw;
  -webkit-animation: 0.4s ease expand forwards;
          animation: 0.4s ease expand forwards;
  position: relative;
  border-bottom: 3px solid #383838;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
/* line 440, styling.sass */
.searchDiv .search #searchField:focus, .searchDiv .search #searchField:active {
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-color: #000;
}
/* line 445, styling.sass */
.searchDiv .search #searchField:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-color: #000;
}
/* line 450, styling.sass */
.searchDiv .search .results {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFF;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 1em;
  width: 100%;
  left: 0%;
}
/* line 464, styling.sass */
.searchDiv .search .results .activeResult {
  background: blue;
}
/* line 468, styling.sass */
.searchDiv .search .results div a {
  display: block;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin: 0.1em 0.5em;
  font-weight: lighter;
  text-transform: capitalize;
  font-weight: 300;
}
/* line 477, styling.sass */
.searchDiv .search .results div a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: 0px;
  font-weight: 400;
}
@media only screen and (max-width: 890px) {
  /* line 416, styling.sass */
  .searchDiv {
    display: none;
  }
}

/* line 486, styling.sass */
.LinkToHost {
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin-top: 20vh;
}
/* line 492, styling.sass */
.LinkToHost #LinkToHost {
  text-decoration: underline;
}
/* line 495, styling.sass */
.LinkToHost #LinkToHost:hover {
  color: #383838;
}

/* line 498, styling.sass */
#alertBox {
  display: none;
  width: 300px;
  height: 250px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  position: absolute;
  margin-left: calc(50vw - 150px);
  font-weight: normal;
  padding: 1em;
  z-index: 5;
  right: 4vmax;
  top: 8vmax;
  font-size: 1.1em;
}
/* line 514, styling.sass */
#alertBox a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: block;
  background-color: #FF0000;
  margin: auto 3% 0.7em;
  width: 80%;
  height: 2em;
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: #FFF;
  border-radius: 0.2em;
  text-align: center;
}
/* line 529, styling.sass */
#alertBox a:hover, #alertBox a:active {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  border: 0px;
}
/* line 534, styling.sass */
#alertBox span {
  cursor: pointer;
  position: relative;
  font-size: 1.3em;
  line-height: 0.6;
  float: right;
  color: #999999 !important;
  text-transform: lowercase !important;
}
/* line 545, styling.sass */
#alertBox span:hover {
  color: #000;
}

/* line 549, styling.sass */
#Cookies {
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  background-color: #383838;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 70%;
  border-radius: 50px 50px 0 0;
  padding: 10px 3vw 8px;
  color: #FBFBFB;
  margin: 0 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/* line 565, styling.sass */
#Cookies a {
  margin: 0;
  display: inline;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 0px;
  padding: 0;
  color: #FBFBFB;
  font-size: 1em;
}
/* line 575, styling.sass */
#Cookies a::-moz-selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
#Cookies a::selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
/* line 580, styling.sass */
#Cookies a:hover {
  border-bottom: 0px;
  padding: 0;
  color: #FBFBFB;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  text-decoration: underline;
}
/* line 588, styling.sass */
#Cookies p::-moz-selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
#Cookies p::selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
/* line 593, styling.sass */
#Cookies span {
  cursor: pointer;
  position: relative;
  font-size: 1.3em;
  margin: 0 -1vw 1vw 0;
  text-transform: lowercase;
  float: right;
}
/* line 602, styling.sass */
#Cookies span::-moz-selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
#Cookies span::selection {
  color: #FBFBFB !important;
  background-color: rgba(0, 0, 0, 0) !important;
  opacity: 1;
}
@media only screen and (max-width: 890px) {
  /* line 549, styling.sass */
  #Cookies {
    width: 100vw;
    border-radius: 5px 5px 0 0;
  }
  /* line 611, styling.sass */
  #Cookies span {
    margin: 0 5px 50px 0;
  }
}

@-webkit-keyframes expand {
  0% {
    max-width: 5vw;
  }
  100% {
    max-width: 15vw;
  }
}

@keyframes expand {
  0% {
    max-width: 5vw;
  }
  100% {
    max-width: 15vw;
  }
}
/* line 620, styling.sass */
.Supreme::before {
  content: "Supreme";
  text-transform: capitalize;
  font-style: italic;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background-color: #DA2727;
  display: block;
  position: absolute;
  font-size: 20px;
  color: #FFF;
  padding: 0.25em 0.25em;
  -webkit-transform: translate(0%, -70%);
          transform: translate(0%, -70%);
  line-height: 1;
}
@media only screen and (max-width: 575px) {
  /* line 620, styling.sass */
  .Supreme::before {
    font-size: 18px;
  }
}
@media only screen and (max-width: 395px) {
  /* line 620, styling.sass */
  .Supreme::before {
    font-size: 16px;
  }
}

/* line 644, styling.sass */
.kategori_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 7%;
  background-color: inherit;
}
/* line 652, styling.sass */
.kategori_wrapper .kategori_box {
  background-color: inherit;
  width: auto;
  height: auto;
  margin: 1.3vw;
  border: 3px solid #707070;
  z-index: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 663, styling.sass */
.kategori_wrapper .kategori_box .kategori_box_innhold {
  display: none;
  position: relative;
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  top: 37%;
  height: 0px;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
/* line 683, styling.sass */
.kategori_wrapper .kategori_box:hover .kategori_box_innhold {
  display: block;
}
/* line 686, styling.sass */
.kategori_wrapper .kategori_box:hover .kategori_box_wrapper {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}
/* line 691, styling.sass */
.kategori_wrapper .kategori_box .kategori_box_wrapper {
  padding: 0.6em;
  z-index: 1;
}
/* line 696, styling.sass */
.kategori_wrapper .kategori_box .kategori_box_wrapper:hover {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}
/* line 700, styling.sass */
.kategori_wrapper .kategori_box .kategori_box_wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 17vw;
  height: 19vw;
}

/* line 718, styling.sass */
.produktside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/* line 726, styling.sass */
.produktside .venstreside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  position: absolute;
  left: 22%;
}
/* line 736, styling.sass */
.produktside .venstreside .Bilder {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 744, styling.sass */
.produktside .venstreside .Bilder .StortBilde {
  width: 55%;
  border: 3px solid #707070;
  padding: 6vh 0vh 3vh 0vh;
  display: block;
}
/* line 751, styling.sass */
.produktside .venstreside .Bilder .smaBilder {
  height: auto;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}
/* line 760, styling.sass */
.produktside .venstreside .Bilder .smaBilder img {
  width: 8vw;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 8vw;
  border: 3px solid #707070;
  margin-top: 2%;
  padding: 0.9em 0 0.3em 0;
}
/* line 773, styling.sass */
.produktside .hoyreside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.25%;
}
/* line 781, styling.sass */
.produktside .hoyreside h2 {
  font-size: 2.75em;
  color: #000;
  text-transform: capitalize;
  font-family: inherit;
}

/* line 787, styling.sass */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

/* line 792, styling.sass */
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

/* line 796, styling.sass */
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

/* line 805, styling.sass */
.rate:not(:checked) > label:before {
  content: "★ ";
}

/* line 808, styling.sass */
.rate > input:checked ~ label {
  color: #ffc700;
}

/* line 811, styling.sass */
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

/* line 814, styling.sass */
.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/*# sourceMappingURL=styling.css.map */